/*  your css code here. If applicable */
.book-library{
	background-color:#ffffff;
	display:flex;
	justify-content:center;
	flex-direction:column;
	box-sizing:border-box;
}
h1{
	background-color:lightgrey;
	display:flex;
 	justify-content:center; 
	height:35px;
	font-size:20px;
	align-items:center;
}
.image-block{
	display:flex;
	justify-content:center;
}
.book{
	color:black;
}
.author{
	color:#777777;
}
.price-block{
	background-color:#2ecc71;
	height:35px;
	display:flex;
	justify-content:center;
	color:white;
	align-items:center;
}